@page
@model pagesweb.CreateModel

@{
    ViewData["Title"] = "Create a new account";
}

<h2>Create a new account</h2>

<h4>It's free and always will be.</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <input asp-for="AppUser.FirstMidName" class="form-control" placeholder="First name" />
                    <span asp-validation-for="AppUser.FirstMidName" class="text-danger"></span>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input asp-for="AppUser.LastName" class="form-control"  placeholder="Surname"/>
                    <span asp-validation-for="AppUser.LastName" class="text-danger " ></span>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="AppUser.MobileOrEmail" class="form-control" placeholder="Mobile number or email address" />
                <span asp-validation-for="AppUser.MobileOrEmail" class="text-danger " ></span>
            </div>
            <div class="form-group">
                <input asp-for="AppUser.Password" class="form-control" placeholder="New password" />
                <span asp-validation-for="AppUser.Password" class="text-danger "></span>
            </div>
            <h2>Birthday</h2>
            
            <div class="form-group">
               
                <input asp-for="AppUser.Birthday" class="form-control" />
                <span asp-validation-for="AppUser.Birthday" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input asp-for="AppUser.Gender" type="radio" value="Female" />
                    <p class="control-label">Female</p>
                </div>
                <div class="col-md-6">
                    <input asp-for="AppUser.Gender" type="radio" value="Male" />
                    <p class="control-label">Male</p>
                </div>
                <span asp-validation-for="AppUser.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-default btn-success " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
